

@import '../../../_common/styles/common.scss';

.playa{
	
	@include retina(-226, -33);
	// @include retina(-44, -33);
	
}

.frame1 {
	// opacity: 1;
	.t1a{
		@include retina(0, 2);
	}

	.t1b{
		@include retina(0, 31);
	}
}

.frame2{
	// opacity: 1;

	.t2a{
		@include retina(0, 3);
	}

	.t2b{
		@include retina(0, 5);
	}


}

.frame3{
	// opacity: 1;
	$x:53;

	.t3a{
		@include retina(28+$x, 17);
	}

	

	.proline{
		transform-origin: 50% 50%;
		@include pos(267+$x, 11);
	}

	#cta{
		@include pos(463+$x, 33);
		
		background-color: #ffcc1f;
		// border: 1px solid #ffcc1f;
		width: 131px;
		height: 21px;
		border-radius: 3px;

		.cta_text{
			@include retina(11, 6);
		}

		#cta_text_1{
			opacity: 0;
			@include retina(11, 5);
		}
	}

}


#legalBtn{	
	@include pos(5, 45);
	opacity: 1;
	width: 36px;
	height: 25px;
	background-color: red;
	opacity: 0;
}

#banner{	
	width: 728px;
	height: 90px;
}

