

@import './common.scss';

.playa{
	// @include retina(-2, -49);
	@include retina(1, -20);
	// @include retina(-69, -100);
	// @include retina(-3, -104);
}

.frame1 {
	// opacity: .8;
	.t1a{
		@include retina(0, 92);
	}
	

	.t1b{
		@include retina(49, 112);
	}

	.t1c{
		@include retina(0, 166);
	}
}

.frame2{
	// opacity: .6;

	.t2a{
		@include retina(140, 76);
	}

	.t2b{
		@include retina(0, 125);
	}

	.t2c{
		@include retina(0, 193);
	}
}

.frame3{
	// opacity: .5;

	.t3a{
		@include retina(0, 56);
	}

	.t3b{
		@include retina(0, 87);
	}

	.t3c{
		@include retina(58, 125);
	}

	.proline{
		transform-origin: 50% 50%;
		@include pos-scale(42, 444, 1);
	}

	#cta{
		@include pos(51, 385);
		
		background-color: #ffcc1f;
		// border: 1px solid #ffcc1f;
		width: 201px;
		height: 31px;
		border-radius: 2px;

		.cta_text{
			@include retina(15, 8);
		}

		#cta_text_1{
			opacity: 0;
			@include retina(15, 8);
		}
	}

}


#legalBtn{	
	@include pos(1, 552);
	opacity: 1;
	width: 36px;
	height: 25px;
	background-color: red;
	opacity: 0;
}

#banner{	
	width: 300px;
	height: 600px;
}

