

@import './common.scss';

.playa{
	
	@include retina(-166, -39);
	// @include retina(-3, -25);
	
}

.frame1 {
	// opacity: 0.8;
	.t1a{
		@include retina(0, 16);
	}

	.t1b{
		@include retina(0, 26);
	}
}

.frame2{
	// opacity: .8;

	.t2a{
		@include retina(0, -2);
	}

	.t2b{
		@include retina(0, 22);
	}


}

.frame3{
	// opacity: 0.8;
	$x:0;

	.t3a{
		@include retina(28+$x, 22);
	}

	

	.proline{
		transform-origin: 50% 50%;
		@include pos(250+$x, 13);
	}

	#cta{
		@include pos(483+$x, 28);
		
		background-color: #ffcc1f;
		// border: 1px solid #ffcc1f;
		width: 123px;
		height: 21px;
		border-radius: 2px;

		.cta_text{
			@include retina(11, 6);
		}

		#cta_text_1{
			opacity: 0;
			@include retina(11, 5);
		}
	}

}


#legalBtn{	
	@include pos(5, 54);
	opacity: 1;
	width: 36px;
	height: 25px;
	background-color: red;
	opacity: 0;
}

#legalContent{
	padding: 8px 14px;
}

#banner{	
	width: 640px;
	height: 100px;
}

