@import '../../../_common/styles/640x100.scss';



.frame1 {
	// opacity: 0.8;
	.t1a{
		@include retina(0, 6);
	}

	.t1b{
		@include retina(0, 37);
	}
}

.frame2{
	// opacity: .8;

	.t2a{
		@include retina(0, 16);
	}

	// .t2b{
	// 	@include retina(0, 14);
	// }


}