<div id="banner">
	<div class="outline"></div>
	
	<img class="retina" src="./images/bg.jpg" inline>
	

	<div class="frame frame1">		
		<img id="proline" class="retina" src="./images/proline.png" inline>
		<img class="retina" src="./images/footer.png" inline>
		
		<img id="t1" class="retina t1" src="./images/t1.png" inline>
		<img id="t2" class="retina t2" src="./images/t2.png" inline>
		<img id="t3" class="retina t3" src="./images/t3.png" inline>
		<img id="cta" class="retina cta_text" src="./images/cta.png" inline>			
		
	</div>
	
	<a id="clicktag" href="#" onclick="javascript:window.open(window.clickTag);"></a>
	

</div>