<div id="banner">
	<div class="outline"></div>
	
	<img id="playa" class="retina playa" src="./images/playa.jpg" inline>
	<div class="frame frame1">
		
		<!-- <img src="./frames/f1a.jpg">		 -->
		<img id="t1a_" class="retina t1a" src="./images/t1a_.png" inline>
		<img id="t1a" class="retina t1a" src="./images/t1a.png" inline>

		<img id="t1b_" class="retina t1b" src="./images/t1b_.png" inline>
		<img id="t1b" class="retina t1b" src="./images/t1b.png" inline>
		
	</div>
	<div class="frame frame2">		
		
		<!-- <img src="./frames/f1b.jpg"> -->

		<img id="t2a_" class="retina t2a" src="./images/t2a_.png" inline>
		<img id="t2a" class="retina t2a" src="./images/t2a.png" inline>

		<img id="t2b_" class="retina t2b" src="./images/t2b_.png" inline>
		<img id="t2b" class="retina t2b" src="./images/t2b.png" inline>

	</div>
	<a id="clicktag" href="#" onclick="javascript:window.open(window.clickTag);"></a>
	<div class="frame frame3">		
		<!-- <img src="./frames/f3.jpg"> -->
		<img id="t3a_" class="retina t3a" src="./images/t3.png" inline>
		
		<div class="proline">
			<img id="proline_1" class="retina proline_1" src="./images/proline_1.png" inline>
			<img id="proline_2" class="retina proline_2" src="./images/proline_2.png" inline>
		</div>

		<div id="cta">
			<img id="cta_text_0" class="retina cta_text" src="./images/cta.png" inline>
			<img id="cta_text_1" class="retina cta_text" src="./images/cta_.png" inline>
		</div>
		<img id="footer" class="retina footer" src="./images/footer.png" inline>
	</div>

	
	<div id="legalBtn"></div>
	<% include ../_common/templates/legal %>
</div>