

@import '../../../_common/styles/common.scss';

.playa{
	// @include retina(-2, -49);
	@include retina(0, -49);
	// @include retina(-126, -72);
	// @include retina(-129, -88);
}

.frame1 {
	// opacity: 1;
	.t1a{
		@include retina(52, 37);
	}

	.t1b{
		@include retina(0, 95);
	}

	.t1c{
		@include retina(52, 116);
	}
}

.frame2{
	// opacity: 1;

	.t2a{
		@include retina(55, 29);
	}

	.t2b{
		@include retina(0, 85);
	}

	.t2c{
		@include retina(0, 99);
	}
}

.frame3{
	// opacity: 1;

	.t3a{
		@include retina(-1, 18);
	}

	.t3b{
		@include retina(13, 34);
	}

	.t3c{
		@include retina(148, 54);
	}

	.proline{
		transform-origin: 50% 50%;
		@include pos(92, 151);
	}

	#cta{
		@include pos(89, 218);
		
		background-color: #ffcc1f;
		// border: 1px solid #ffcc1f;
		width: 121px;
		height: 21px;
		border-radius: 3px;

		.cta_text{
			@include retina(9, 6);
		}

		#cta_text_1{
			opacity: 0;
			@include retina(9, 5);
		}
	}

}


#legalBtn{	
	@include pos(1, 202);
	opacity: 1;
	width: 36px;
	height: 25px;
	background-color: red;
	opacity: 0;
}

#banner{	
	width: 300px;
	height: 250px;
}

